extends baseLayout.pug

block content
	
	.card
		a(href="/").go-back &larr; Back
	
	section.card
		h3 About Me
		.about-text
			p I live in a small fishing village in Nova Scotia on an island. I have a wonderful Girlfriend with two dogs and two cats. I fish lobster 6 months out of the year, totalling about 60-90 days out of the year. 
			p Since I was a child I have built things. As a kid me and my brother would get wood from people and build a camp, tear it down and rebuild. We continued this for some years and with every camp we built it go better. Programming is kind of like those camps I built as a child. I love watching my project come to life, and them get better with every one I do. When I am not fishing or hanging out with my family and friends, I can usually be found at the computer working on my skills.
		
	section.card
		h3 My Pets
		.animals.center-text
			.animal
				img.animal-pic(src="/static/images/animals/zeus.jpg" alt="Zeus enjoying the sun at Balancing Rock")
				h3 Zeus
				p Zeus is a Rottweiler Beagle mix who loves attention and to play. He spends most of his time in the sunporch soaking up the sun. Tug of war is his favourite game to play
			.animal
				img.animal-pic(src="/static/images/animals/apollo.jpg" alt="Appollo being curious about the camera")
				h3 Apollo
				p Half Amstaff Terrier and Half Rottweiler Apollo is just a young puppy who loves to snuggle and play. He loves to follow Zeus around and is constantly trying to engage in play.
			.animal
				img.animal-pic(src="/static/images/animals/hercules.jpg" alt="Hercules sprawled out on the kitchen floor")
				h3 Hercules
				p Herclues spends all his time going from his food bowl to the sunporch laying out relaxing. Snuggles and food are his two favourite things.
			.animal
				img.animal-pic(src="/static/images/animals/hades.jpg" alt="Hades relaxing on the couch")
				h3 Hades
				p Missing his front leg Hades doesn't let life get him down. We are unaware of how his leg became injured as he came home with it broke. He still loves to run and play, and of course lounge in the sunporch.
		
	.card
		a(href="/").go-back &larr; Back